<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' 
          media="only screen and (min-width: 800px) and (min-device-width: 600px)" 
          href='/stylesheets/smart.css' />
    <link rel='stylesheet' 
          media="only screen and (min-width: 480px)" 
          href='/stylesheets/huge.css' />
  </head>
  <body>
  <div id="page">

    <div class="right">
      <% if (!session.user) { %>
          <a href="/users/new">Registrarse</a> 
          <a href="/session">Iniciar sesión</a>
      <% } else { %>
          <%= session.user.username %> 
          <a href="/users/<%= session.user.id %>">Perfil</a>
          <a href="/session?_method=DELETE">Cerrar sesión</a>
        <% } %>
    </div>


    <header class="main">
    <h2>Quiz: el juego de la vida</h2>
    </header>


    <nav class="main" role="navigation">
      <a href="/">Inicio</a>
      <a href="/quizzes?search=">Preguntas</a>
      <a href="/users">Usuarios</a>
      <a href="/author">Autor</a>
    </nav>
    

    <section>
    <% if(messages.info) { %>
      <article id="flashinfo">
        <h3>Información de interés:</h3>
        <ul>
          <% for(var i in messages.info) { %>
            <li><%= messages.info[i] %></li>
          <% } %>
        </ul>
      </article>
    <% } %>

    <% if(messages.success) { %>
      <article id="flashsuccess">
        <h3>Tareas realizadas con éxito:</h3>
        <ul>
          <% for(var i in messages.success) { %>
            <li><%= messages.success[i] %></li>
          <% } %>
        </ul>
      </article>
    <% } %>

    <% if(messages.error) { %>
      <article id="flasherror">
        <h3>Errores encontrados:</h3>
        <ul>
          <% for(var i in messages.error) { %>
            <li><%= messages.error[i] %></li>
          <% } %>
        </ul>
      </article>
    <% } %>
    </section>

    <section class="main">
      <div><%- body %></div>
    </section>

    <footer class="main">
      <a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a>
    </footer>
  </div>
  </body>
</html>